.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/img/bg-login.jpg");
  background-size: cover;
}

.header-image {
  position: absolute;
  width: 170px;
  top: -4em;
  left: -3.7em;
  z-index: 10000;
}

ion-card {
  overflow: visible;
  text-align: center;
  box-shadow: 7px 7px 17px -10px #bcaaa4;
}
