<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="compras?.length;else noData">
    <ion-item-sliding *ngFor="let compra of compras">
      <ion-item detail (click)="onClickCompra(compra)">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>
              <ion-icon name="storefront-outline"></ion-icon>
              {{compra.Restaurant.nombre}}
            </h3>
          </ion-text>
          <p>{{compra.fecha|date:'MMMM d, y, h:mm'}}</p>
          <p>{{compra.valor|currency: 'COP':'symbol':'1.0'}}</p>
        </ion-label>

        <ion-chip [color]="compra['estado'].color">
          <ion-avatar>
            <img [src]="compra.metodo_pago?.imagen" />
          </ion-avatar>
          <ion-label>{{compra['estado'].text}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="onClickDelete(compra)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ng-template #noData>
  <div class="no-data">
    <ion-text color="primary">
      <h4 style="padding: 1em 0 0 1em">
        No tienes Compras registradas, empieza a comprar en tus restaurantes
        favoritos...
      </h4>
    </ion-text>
  </div>
</ng-template>
