<ion-header> </ion-header>

<ion-content>
  <div class="login-container" *ngIf="isLogin;else register">
    <ion-card color="secondary">
      <img src="assets/img/sombrero.png" class="header-image" />
      <ion-card-header style="margin-top: 2em">
        <ion-card-title style="color: #6a4b3f">
          Restaurantes Llaneros
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="secondary">
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input
            type="text"
            name="usuario"
            [(ngModel)]="user.usuario"
          ></ion-input>
        </ion-item>
        <ion-item color="secondary">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            name="contrasena"
            [(ngModel)]="user.contrasena"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          style="margin: 2em 0 1em 0"
          (click)="onClickLogin()"
        >
          Iniciar Sesión
        </ion-button>
        <ion-button expand="block" fill="clear" (click)="isLogin=false">
          Crear una cuenta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #register>
  <app-register
    (onCancel)="isLogin=true"
    (onRegister)="user=$event; isLogin=true"
  ></app-register>
</ng-template>
